* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightslategray;
    color: black;
}
h1 {
    margin: 1rem;
}
form { 
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightgray;
}