* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --heading-background-color: lightgray;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
}
nav {
    background-color: darkblue;
    padding: 10px;
    height: auto;
    width: auto;
}
nav a {
    color: white;
    margin: 20px;
    padding: 10px;
    display: block;
}
h1 {
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
  font-family: var(--heading-font);
  padding: var(--padding);
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}   
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}